/* 
Kota, Akash - 1002169574
Nalajala , Mohana Krishna - 1002171159
Lokanath Raju , Sirisha - 1002189752
Safiuddin , Mohammad - 1002081263
Tekkali, Poorna Pallavi - 1002160637
*/
/* DoctorProfile.css */

.doctor-profile {
  /*background-color: #f4f4f4;*/
  border: 2px solid #ddd;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
  width: 85%;
}

.profile-info div {
  margin-bottom: 10px;
}


.DoctorProfile label{
  font-size: 20px;
}